.brown {
  color: $brown;
}

.white {
  color: $white;
}

a:focus {
  outline: none;
  color: $brown !important;
  transition: 300ms color ease;
}

a:hover {
  color: $brown !important;
  transition: 300ms color ease;
}
