.egyptian-civilization {
  position: relative;
  .row1 .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row2 .col {
    display: grid;
    grid-row-gap: 2.5rem;
    margin-top: 4.06rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.875rem;
  }

  .row3 .col {
    position: absolute;
    bottom: -16.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 24.06rem;
    z-index: 1;
  }

  .row4 .col {
    transform: translateY(1.4rem);
    margin-top: 6rem;
  }

  h2 {
    margin-top: 1rem;

    .black {
      margin-left: 0.6rem;
    }
  }

  h4 {
    display: none;
    font-size: 14.3vw;
    font-weight: 900;
    overflow: hidden;
    color: #d2a477;
  }

  .video {
    width: 100%;
  }
}

.test {
  height: 100vh;
  width: 100%;
  background-color: #d3a77a;
}

@media (min-width: $s) {
  .egyptian-civilization {
    .row3 .col {
      width: 80%;
    }
  }
}

@media (min-width: $m) {
  .egyptian-civilization {
    .row2 .col {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5rem;
      padding: 0 4rem;
    }

    .row3 .col {
      max-width: 40.18rem;
      bottom: -12.2rem;
      margin: 0 auto;
    }

    h4 {
      display: block;
    }
  }
}

@media (min-width: $l) {
  .egyptian-civilization {
    .row2 .col {
      width: 80%;
    }

    .row3 .col {
      bottom: -16rem;
      max-width: 63.27rem;
    }

    .row4 .col {
      transform: translateY(2.4rem);
      margin-top: 6rem;
    }

    h4 {
      margin-top: 15vw;
    }
  }
}
