.header {
  height: calc(100vh + 22rem);
  background: url(/src/assets/img/background.png) no-repeat top;
  background-size: cover;
}

.nav {
  padding: 0 1.875rem;
  height: 5rem;
  display: flex;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .col2 {
    display: none;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      opacity: 0.8;
    }
  }

  .logo {
    font-size: 1.8rem;
    font-family: "Core Sans G Rounded";
    font-weight: 800;

    .white {
      position: relative;
      left: 0.3rem;
    }
  }

  .button {
    position: relative;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    background: transparent;
    border: none;
    transition: 200ms box-shadow ease-out, 200ms background ease-out;

    &:focus {
      outline: none;
      box-shadow: 1px 1px 20px $brown;
      background: rgba($color: $brown, $alpha: 0.4);
      transition: 200ms box-shadow ease-in, 200ms background ease-in;
    }
  }

  .circle {
    position: absolute;
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    background-color: $brown;
  }

  .circle-left {
    left: 0;
  }

  .circle-center-hor {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .circle-center-ver {
    right: 0;
    left: 0;
    margin: auto;
  }

  .circle-right {
    right: 0;
  }

  .circle-top {
    top: 0;
  }

  .circle-bottom {
    bottom: 0;
  }
}

@media (min-width: $m) {
  .header {
    background-position: center;

    .button {
      display: none;
    }
  }

  .nav {
    height: 7rem;
    padding: 0 5rem;

    .col2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
    }

    .link-wrapper {
      display: grid;
      grid-template-columns: repeat(5, minmax(5.2rem, 8.2rem));
      justify-content: end;
      justify-items: end;
      margin-right: 1.3rem;
    }
  }
}

@media (min-width: $l) {
  .header {
    .button {
      display: block;
    }
  }

  .nav {
    .link-wrapper {
      margin-left: 3rem;
      margin-right: 7rem;
    }
  }
}
