@import "/styles/mixins";
@import "/styles/variables";

.container {
  padding: calc(10.188rem + 70px) 10px 0;
  height: 100vh;
  background-color: #d3a77a;

  @include mediumScreen() {
    padding-top: calc(12.875rem + 70px);
  }

  @include largeScreen() {
    padding-top: calc(18rem + 70px);
  }

  .sub_heading {
    font-family: "Aribau Grotesk";
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #1f160e;
    font-size: 13px;
  }

  h2 {
    margin-top: 1rem;
    max-width: 25.75rem;
    margin: 1rem auto;
  }
}

.row1 {
  text-align: center;
}

.black {
  color: $black;
  margin-left: 0.6rem;
}

.white {
  color: $white;
}
