* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-BoldItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-ExtraLightItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-BlackItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Regular.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Italic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Light.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-ExtraLight.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Black.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-LightItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Bold.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-UltraLightItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Medium.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-MediumItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-Thin.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-UltraLight.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("/src/assets/fonts/Aribau/AribauGrotesk-ThinItalic.woff2") format("woff2"), url("/src/assets/fonts/Aribau/AribauGrotesk-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Freight";
  src: url("/src/assets/fonts/Freight/Freight-DispMedium.woff2") format("woff2"), url("/src/assets/fonts/Freight/Freight-DispMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("/src/assets/fonts/Freight/Freight-DispLight.woff2") format("woff2"), url("/src/assets/fonts/Freight/Freight-DispLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("/src/assets/fonts/Freight/Freight-DispBlack.woff2") format("woff2"), url("/src/assets/fonts/Freight/Freight-DispBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("/src/assets/fonts/Freight/Freight-DispBoldSC.woff2") format("woff2"), url("/src/assets/fonts/Freight/Freight-DispBoldSC.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("/src/assets/fonts/Freight/Freight-DispBook.woff2") format("woff2"), url("/src/assets/fonts/Freight/Freight-DispBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-MediumItalic.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-ExtraBoldItali.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-ExtraBoldItali.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-ExtraBold.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-Bold.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-BoldItalic.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("/src/assets/fonts/CoreSansG/CoreSansGRounded-Medium.woff2") format("woff2"), url("/src/assets/fonts/CoreSansG/CoreSansGRounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Freight", sans-serif;
  color: #fefefe;
}

h2 {
  font-size: 2.187rem;
  font-weight: 800;
  letter-spacing: 1px;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 768px) {
  p {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 1.4rem;
  }
}

body {
  background: #d8b188;
}

.brown {
  color: #ad764a;
}

.white {
  color: #fefefe;
}

.black {
  color: #313733;
}

.sub-heading {
  font-family: "Aribau Grotesk";
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

a:focus {
  outline: none;
  color: #ad764a !important;
  -webkit-transition: 300ms color ease;
  transition: 300ms color ease;
}

a:hover {
  color: #ad764a !important;
  -webkit-transition: 300ms color ease;
  transition: 300ms color ease;
}

.hero {
  padding: 30px;
  margin-top: 3.2rem;
  text-align: center;
  line-height: 1.2;
}

.hero .row {
  margin: auto 0;
}

.hero .text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .ancient-world {
  display: inline-block;
  position: relative;
  margin-bottom: 2.3rem;
}

.hero .ancient-world::after {
  content: "";
  position: absolute;
  background-color: #ad764a;
  bottom: -1.111rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 1.944rem;
  height: 0.056rem;
}

.hero h1 {
  font-size: 2.2rem;
  font-family: "Freight";
  font-weight: 900;
}

.hero .line-break {
  display: none;
}

.hero a {
  color: inherit;
  text-decoration: none;
}

.hero .absolute {
  position: absolute;
  font-size: 0.6rem;
  font-family: "Core Sans G Rounded", sans-serif;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 0.6rem;
  height: 0.6rem;
}

.hero .social-links-wrapper,
.hero .email {
  bottom: 3rem;
}

@media (min-width: 448px) {
  .hero .social-links-wrapper,
  .hero .email {
    bottom: 1.2rem;
  }
}

@media (min-width: 637px) {
  .hero .social-links-wrapper,
  .hero .email {
    bottom: -0.6rem;
  }
}

.hero .social-links-wrapper {
  left: -1rem;
}

.hero .social-links-wrapper a {
  margin: 0 0.6rem;
}

.hero .email {
  right: -1rem;
}

.hero .scroll-down-wrapper {
  position: absolute;
  bottom: -4rem;
}

.hero .scroll-down {
  font-family: "Aribau Grotesk", sans-serif;
  display: inline-block;
  letter-spacing: 0.3rem;
  text-indent: 0.3rem;
  font-size: 0.6rem;
  font-weight: 300;
}

.hero .arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
}

.hero .arrow-wrapper .arrow {
  display: inline-block;
  border-left: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero .arrow-wrapper .arrow:nth-child(1) {
  -webkit-animation-name: bouncy;
          animation-name: bouncy;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.hero .arrow-wrapper .arrow:nth-child(2) {
  -webkit-animation-name: bouncy;
          animation-name: bouncy;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bouncy {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(-45deg) scale(1);
            transform: translateY(0px) rotate(-45deg) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(10px) rotate(-45deg) scale(0.9);
            transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
  26% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(-45deg) scale(0.9);
            transform: translateY(0px) rotate(-45deg) scale(0.9);
  }
  55% {
    opacity: 0;
    -webkit-transform: translateY(10px) rotate(-45deg) scale(1);
            transform: translateY(10px) rotate(-45deg) scale(1);
  }
}

@keyframes bouncy {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(-45deg) scale(1);
            transform: translateY(0px) rotate(-45deg) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(10px) rotate(-45deg) scale(0.9);
            transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
  26% {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(-45deg) scale(0.9);
            transform: translateY(0px) rotate(-45deg) scale(0.9);
  }
  55% {
    opacity: 0;
    -webkit-transform: translateY(10px) rotate(-45deg) scale(1);
            transform: translateY(10px) rotate(-45deg) scale(1);
  }
}

@media (min-width: 768px) {
  .hero {
    background-position: center;
  }
  .hero .line-break {
    display: inline-block;
  }
  .hero h1 {
    font-size: 2.333rem;
  }
  .hero .absolute {
    font-size: 0.8rem;
  }
  .hero .email,
  .hero .social-links-wrapper {
    bottom: -0.5rem;
  }
  .hero .social-links-wrapper {
    left: 0rem;
  }
  .hero .email {
    right: 0rem;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 3.111rem;
  }
  .hero .social-links-wrapper {
    left: 4rem;
  }
  .hero .email {
    right: 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1185px) {
  .hero .social-links-wrapper {
    left: -0.5rem;
  }
  .hero .email {
    right: -0.5rem;
  }
}

.header {
  height: calc(100vh + 22rem);
  background: url(/src/assets/img/background.png) no-repeat top;
  background-size: cover;
}

.nav {
  padding: 0 1.875rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav .col2 {
  display: none;
}

.nav .col2 a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.8;
}

.nav .logo {
  font-size: 1.8rem;
  font-family: "Core Sans G Rounded";
  font-weight: 800;
}

.nav .logo .white {
  position: relative;
  left: 0.3rem;
}

.nav .button {
  position: relative;
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
  background: transparent;
  border: none;
  -webkit-transition: 200ms background ease-out, 200ms -webkit-box-shadow ease-out;
  transition: 200ms background ease-out, 200ms -webkit-box-shadow ease-out;
  transition: 200ms box-shadow ease-out, 200ms background ease-out;
  transition: 200ms box-shadow ease-out, 200ms background ease-out, 200ms -webkit-box-shadow ease-out;
}

.nav .button:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 20px #ad764a;
          box-shadow: 1px 1px 20px #ad764a;
  background: rgba(173, 118, 74, 0.4);
  -webkit-transition: 200ms background ease-in, 200ms -webkit-box-shadow ease-in;
  transition: 200ms background ease-in, 200ms -webkit-box-shadow ease-in;
  transition: 200ms box-shadow ease-in, 200ms background ease-in;
  transition: 200ms box-shadow ease-in, 200ms background ease-in, 200ms -webkit-box-shadow ease-in;
}

.nav .circle {
  position: absolute;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background-color: #ad764a;
}

.nav .circle-left {
  left: 0;
}

.nav .circle-center-hor {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav .circle-center-ver {
  right: 0;
  left: 0;
  margin: auto;
}

.nav .circle-right {
  right: 0;
}

.nav .circle-top {
  top: 0;
}

.nav .circle-bottom {
  bottom: 0;
}

@media (min-width: 768px) {
  .header {
    background-position: center;
  }
  .header .button {
    display: none;
  }
  .nav {
    height: 7rem;
    padding: 0 5rem;
  }
  .nav .col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav .link-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5.2rem, 8.2rem))[5];
        grid-template-columns: repeat(5, minmax(5.2rem, 8.2rem));
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    justify-items: end;
    margin-right: 1.3rem;
  }
}

@media (min-width: 992px) {
  .header .button {
    display: block;
  }
  .nav .link-wrapper {
    margin-left: 3rem;
    margin-right: 7rem;
  }
}

.egyptian-civilization {
  position: relative;
}

.egyptian-civilization .row1 .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.egyptian-civilization .row2 .col {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2.5rem;
  margin-top: 4.06rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.875rem;
}

.egyptian-civilization .row3 .col {
  position: absolute;
  bottom: -16.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 24.06rem;
  z-index: 1;
}

.egyptian-civilization .row4 .col {
  -webkit-transform: translateY(1.4rem);
          transform: translateY(1.4rem);
  margin-top: 6rem;
}

.egyptian-civilization h2 {
  margin-top: 1rem;
}

.egyptian-civilization h2 .black {
  margin-left: 0.6rem;
}

.egyptian-civilization h4 {
  display: none;
  font-size: 14.3vw;
  font-weight: 900;
  overflow: hidden;
  color: #d2a477;
}

.egyptian-civilization .video {
  width: 100%;
}

.test {
  height: 100vh;
  width: 100%;
  background-color: #d3a77a;
}

@media (min-width: 576px) {
  .egyptian-civilization .row3 .col {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .egyptian-civilization .row2 .col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    padding: 0 4rem;
  }
  .egyptian-civilization .row3 .col {
    max-width: 40.18rem;
    bottom: -12.2rem;
    margin: 0 auto;
  }
  .egyptian-civilization h4 {
    display: block;
  }
}

@media (min-width: 992px) {
  .egyptian-civilization .row2 .col {
    width: 80%;
  }
  .egyptian-civilization .row3 .col {
    bottom: -16rem;
    max-width: 63.27rem;
  }
  .egyptian-civilization .row4 .col {
    -webkit-transform: translateY(2.4rem);
            transform: translateY(2.4rem);
    margin-top: 6rem;
  }
  .egyptian-civilization h4 {
    margin-top: 15vw;
  }
}
/*# sourceMappingURL=App.css.map */