@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-BoldItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-ExtraLightItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-BlackItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Regular.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Italic.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Light.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-ExtraLight.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Black.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-LightItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Bold.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-UltraLightItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-UltraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Medium.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-MediumItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-Thin.woff2") format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-UltraLight.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../public/fonts/Aribau/AribauGrotesk-ThinItalic.woff2")
      format("woff2"),
    url("../public/fonts/Aribau/AribauGrotesk-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispMedium.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispLight.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBlack.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBoldSC.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBoldSC.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("../public/fonts/Freight/Freight-DispBook.woff2") format("woff2"),
    url("../public/fonts/Freight/Freight-DispBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-MediumItalic.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-ExtraBoldItali.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-ExtraBoldItali.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-ExtraBold.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-ExtraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-Bold.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-BoldItalic.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Core Sans G Rounded";
  src: url("../public/fonts/CoreSansG/CoreSansGRounded-Medium.woff2")
      format("woff2"),
    url("../public/fonts/CoreSansG/CoreSansGRounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
